.container{
    align-items: center;
    width:900px;
    height: 900px;
    display: inline-block;
}
div.row{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: auto;
}
.cell{
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: wheat;
}
.cell:hover{
    background-color: gray;
}
.title{
    display: inline;
    position: absolute;
    top: 100px;
}